$danger: red;
$textColor: black;
$backgroundColor: #FFFFFF;
$boxShadow: inset 0px -1px 1px #EEEEEE;
$secondary: #f5f5f5;

// Logo
$logoCircle1: #FF79A9;
$logoCircle2: #1890FF;

// Search box
$searchBoxIconColor: rgba(0, 0, 0, 0.25);
$searchBoxTextColor: rgba(0, 0, 0, 0.65);
